/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #EBF7A9;
    color: #0C1805;
}

/* NAVBAR */
nav {
    background: #225808;
    color: #EBF7A9;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #EBF7A9;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #99BD49;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #518123, #99BD49);
    color: #EBF7A9;
    padding: 60px 20px;
    text-align: center;
}

/* SECTIONS */
.card {
    background: #C4CC82;
    margin: 30px auto;
    padding: 25px;
    width: 90%;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.card h3 {
    color: #225808;
    margin-bottom: 10px;
}

/* PROJECT LIST */
.card ul {
    margin-left: 20px;
}

/* CHATBOT BOX */
.chatbot-box {
    background: #B6D455;
    border: 3px solid #518123;
}

/* FOOTER */
footer {
    background: #0C1805;
    color: #EBF7A9;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
